*.zevross.dev {
    tls {
        dns cloudflare {env.DNS_PROVIDER_TOKEN}
    }

    @databeis host databeis.zevross.dev
    handle @databeis {
        reverse_proxy nextapp:3000
    }

    @databeiApi host api.databeis.zevross.dev
    handle @databreisApi {
        reverse_proxy goapp:8000
    }
}
